/*
 ╭──────────── · · ୨୧ · · ────────────╮
	Styles
╰──────────── · · ୨୧ · · ────────────╯
*/

.combobox {
	display: block;
	position: relative;
}

.combobox__label.is-screen-reader-only {
	position: absolute;
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	block-size: 1px;
	inline-size: 1px;
	overflow: hidden;
	white-space: nowrap; 
}

.combobox__flex {
	display: flex;
}

.combobox__flex:has(.combobox__input.is-focused) {
	outline: 2px solid currentColor;
	outline-offset: -2px;
}

.combobox__flex:has(+ .combobox__popup .combobox__option.is-current) {
	outline: none;
}

.combobox__input {
	position: relative;
	display: block;
	border: 1px solid currentColor;
	padding: 12px 16px 14px;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: start;
	color: currentColor;
	inline-size: 100%;
	background: #fff;
	cursor: pointer;
}

.combobox--editable .combobox__input {
	position: static;
	border-inline-end: 0;
}

.combobox__input.is-focused {
	outline: 2px solid currentColor;
	outline-offset: -2px;
}
.combobox--editable .combobox__input.is-focused {
	outline: 0;
}

.combobox__input:has(+ .combobox__popup .combobox__option.is-current) {
	outline: none;
}

.combobox--select-only .combobox__input:after {
	content: "";
	display: block;
	position: absolute;
	inset-block-start: 50%;
	inset-inline-end: 16px;
	border-block-end: 2px solid currentColor;
	border-inline-end: 2px solid currentColor;
	inline-size: 6px;
	block-size: 6px;
	pointer-events: none;
	transform: translateY(-65%) rotate(45deg);
}

.combobox__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: 1px solid currentColor;
	border-inline-start: 0;
	padding: 8px 16px;
}

.combobox__btn[aria-expanded="true"] svg {
	transform: rotate(180deg);
}

.combobox__popup {
	display: none;
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: 0;
	border: 1px solid currentColor;
	border-block-start: 0;
	inline-size: 100%;
	max-block-size: 300px;
	background: #fff;
	overflow-y: auto;
	z-index: 101;
}

.combobox:has([aria-expanded="true"]) .combobox__popup {
	display: block;
}

.combobox__option {
	padding: 10px 12px 12px;
}

@media (hover: hover) AND (pointer: fine) {
	.combobox__option:where(:hover, :focus-visible) {
		background-color: rgba(0, 0, 0, .1);
	}
}

.combobox__option.is-current {
	outline: 2px solid currentColor;
	outline-offset: -2px;
}

.combobox__option[aria-selected="true"] {
	position: relative;
	padding-inline-end: 30px;
}

div.combobox__option[aria-selected="true"]:after {
	content: "";
	position: absolute;
	inset-block-start: 50%;
	inset-inline-end: 15px;
	border-block-end: 2px solid currentColor;
	border-inline-end: 2px solid currentColor;
	inline-size: 8px;
	block-size: 16px;
	transform: translateY(-50%) rotate(45deg);
}